.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 16px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.featureImage svg,
.featureImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  transition: transform 0.3s ease;
}

.featureImage img:hover,
.featureImage svg:hover {
  transform: scale(1.05) rotate(-2deg);
}